@import url(http://fonts.googleapis.com/css?family=Jacques+Francois);
@import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans);
header, section, footer, aside, nav, article, figure, figcaption {
				display: block;}
				
body {
    color: #666666;
    background-color: #f9f8f6;
	background-image: url("images/dark-wood.jpg");
	background-position: center;
	font-family: Georgia, Times, serif;
	line-height: 1.4em;
	margin: 0px;}
	
.wrapper {
	width: 1024px;
	margin: 20px auto 20px auto;
	border: 2px solid #000000;
	background-color: #ffffff;}
	
nav, footer {
	clear: both;
	color: #ffffff;
	background-color: #ffffff;
	height: 30px;}
				
nav ul {
	margin: 0px;
	padding: 5px 0px 5px 30px;}
				
nav li {
	display: inline;
	margin-right: 40px;}
				
nav li a {
	color: #000000;}
				
nav li a:hover, nav li a.current {
	color: #FF0707;}
				
section.courses {
	float: left;
	width: 990px;
	border-right: 1px solid #eeeeee;
	margin: 10px;
	padding: 10px;
				 }
				 
article {
	clear: both;
	overflow: auto;
	width: 100%;
	color: #000000;
				}
				
hgroup {
	margin-top: 40px;
				}
				
figure {
	float: left;
	width: 290px;
	height: 220px;
	padding: 5px;
	margin: 20px;
	border: 1px solid #eeeeee;}
	
figure2 {
	float: left;
	width: 290px;
	height: 220px;
	padding: 5px;
	margin: 20px;
	border: 1px solid #eeeeee;}
	
figcaption {
	font-size: 90%;
	text-align: left;}

.page {
  max-width: 640px;
  margin: 0 auto 30px auto;}

.panel {
  background-color: #fff;
  color: #666;
  box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.2);
  overflow: auto;}

button {
  border: none;}

/********** LOGO **********/
h1 {
  width: 40px;
  height: 40px;
  margin: 10px;
  color: #000000;}

/********** TYPOGRAPHY **********/
a {
  color: #de6581;
  text-decoration: none;}
				
article:hover {
  color: #666666;}
			
h1, h2, h3 {
  font-weight: normal;}
  
h2 {
  margin: 10px 0px 5px 0px;
  padding: 0px;
  font-size: 70%;}
			
h3 {
  margin: 0px 0px 10px 0px;}
				
img {
  display: block;
  margin-left:auto;
  margin-right:auto;
  max-width:100%;
  max-height:100%;}
                 
footer {
  font-size: 80%;
  padding: 7px 0px 0px 20px;}
  /*****************  No JS ***************/
#billboard {text-align: center;}
.js-warning {display: none;}

.no-js .js-warning {
  display: block;
  border: 3px solid #fff;
  text-align: center;
  background-color: #fff;
  color: #db5391;
  padding: 10px;}